/Bot/__pycache__

/Libs/__pycache__
/Libs/bot/__pycache__
/Libs/tests/__pycache__
/Libs/models/__pycache__
/Libs/config/__pycache__
/Libs/commands/__pycache__
/Libs/commands/interface/__pycache__
/Libs/commands/emotes/__pycache__

/Commands/__pycache__
/Commands/interface/__pycache__
/Commands/Emotes/__pycache__

/Config/tokens.json