models/databases/config.db
models/databases/main.db
models/__pycache__/
bot/__pycache__/
bot/commands/__pycache__/
bot/commands/utils/__pycache__/
bot/commands/chat/ngram/__pycache__/
bot/commands/chat/__pycache__/
bot/commands/chat/ngram/4chan.txt